# Dependencies
node_modules/

# Production build
dist/

# Logs & temp
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
